
  <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar" style="background-color: #6fdee8">
      <div class="container"><a class="navbar-brand logo text-info" href="/index">Adaptive Learning Platform</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navcol-1">
              <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link active" href="../registerAdmin">Teacher</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="../registerUser">Student</a></li>

            </ul>
          </div>
          <!-- Github Banner-->

      </div>
  </nav>



  <main class="page blog-post-list">
      <section class="clean-block clean-blog-list dark">
          <div class="container">
              <div class="block-heading">
                  <img style="width: 50%; position: absolute; right: 0%; top: 98px;" src="/public/img/landing-img.png" alt="background-img"/>
                  
              </div>

          </div>
      </section>
  </main>
