
  <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
      <div class="container"><a class="navbar-brand logo" href="/index">Adaptive Learning Platform</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navcol-1">
              <ul class="nav navbar-nav ml-auto">
              </ul>
          </div>
          <!-- Github Banner-->

      </div>
  </nav>



  <main class="page blog-post-list">
      <section class="clean-block clean-blog-list dark">
          <div class="container">
              <div class="block-heading">
                  <h2 class="text-info">HOME
                      <br>Adaptive Learning Platform
                  </h2>

                  <br><br>
                  <a href="../registerAdmin"><button class="btn btn-outline-primary btn-lg">Teacher</button></a>
                  <a href="../registerUser"><button class="btn btn-outline-primary btn-lg">Student</button></a>
              </div>

          </div>
      </section>
  </main>
