<!DOCTYPE html>
<html lang="en">
<head>
  <title>Adaptive Learnign Platform</title>
  <%- include('./partials/head.ejs'); %>
</head>
<body>

  <%- include('./partials/header'); %>
  <img style="width: 50%; position: absolute; right: 0%; top: 98px;" src="/public/img/landing-img.png" alt="background-img"/>
  <p class="font-weight-bold" style="font-size: xx-large; width: 42%; margin-left:20px;color: #26233F;">An Adaptive learning platform,
    leveraging gamification to engage users.</p><br>
  <a href="/registerUser"> <button class="btn btn-outline-primary btn-lg" style="margin-left:30px;">Get Started</button></a>


<footer>
  <%- include('./partials/footer'); %>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="/public/js/script.min.js"></script>
</body>
</html>



