<!DOCTYPE html>
<html lang="en">
<head>
  <title>Adaptive Learnign Platform</title>
  <%- include('./partials/head.ejs'); %>
</head>
<body>

  <%- include('./partials/header'); %>


<footer>
  <%- include('./partials/footer'); %>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
<script src="/public/js/script.min.js"></script>
</body>
</html>



